
h1{
    background-color: black;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 4px;
}

.container{
    background-color: green;
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.figure{
    position: absolute;
}